<a href="https://colab.research.google.com/github/kazayu/ML-Training/blob/main/MLPractise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Supervised
Linear Regression  -> numeric values
Logistic Regression  -> classification problems

Linear Regression

In [2]:
import pandas as pd
import numpy as np

In [3]:
salary_data = pd.read_csv('Salary_Data.csv')
salary_data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
salary_data.shape

(30, 2)

In [5]:
x= salary_data.iloc[:,:-1]
x

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [6]:
y = salary_data.iloc[:,-1:]
y

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [7]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,x_test,Y_train,y_test = train_test_split(x,y,test_size=0.20)

In [19]:
X_train.shape

(24, 1)

In [20]:
Y_train.shape

(24, 1)

In [21]:
x_test.shape

(6, 1)

In [22]:
y_test.shape

(6, 1)

Algorithm Selection

In [23]:
from sklearn import linear_model

In [24]:
lin_mod = linear_model.LinearRegression()#model selection
lin_mod.fit(X_train,Y_train)#training

LinearRegression()

In [25]:
y_pred = lin_mod.predict(x_test)
y_pred

array([[ 74945.56300285],
       [ 52185.27759087],
       [ 55030.31326737],
       [ 92015.77706184],
       [ 59772.03939487],
       [107189.30066983]])

In [26]:
y_test

      Salary
17   83088.0
5    56642.0
8    64445.0
21   98273.0
9    57189.0
24  109431.0

Logistic Regression

In [30]:
diabetes = pd.read_csv('diabetes.csv')

In [31]:
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Preparation of Data

In [32]:
diabetes.shape

(768, 9)

In [33]:
input_x = diabetes.iloc[:,:-1]
input_x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [34]:
input_x.shape

(768, 8)

In [35]:
input_y = diabetes.iloc[:,-1:]
input_y

     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[768 rows x 1 columns]

In [44]:
X_train1,X_test1,y_train1,y_test1 = train_test_split(input_x,input_y,test_size = 0.15)

In [45]:
print(X_train1.shape)
print(X_test1.shape)
print(y_train1.shape)
print(y_test1.shape)

(652, 8)
(116, 8)
(652, 1)
(116, 1)

In [46]:
log_model = linear_model.LogisticRegression()#model_selection
log_model.fit(X_train1,y_train1)#training step

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [47]:
y_pred = log_model.predict(X_test1)
y_pred

array([1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0])

In [48]:
y_test1

     Outcome
154        1
415        1
678        1
286        0
581        0
..       ...
276        1
190        0
216        1
28         0
397        1

[116 rows x 1 columns]

In [49]:
from sklearn import metrics

In [50]:
Accuracy = metrics.accuracy_score(y_pred,y_test1)
Accuracy

0.7844827586206896